img {
    width: 350px;
}

.header {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.5rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.title {
    position: absolute;
    margin: 0;
}

.transparent {
    color: transparent;
    margin: 0;
}

.front {
    color: #F28907;
    bottom: 1px;
}

.back {
    color: #F20707;
    top: 1px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 4px 0;
}