img {
    width: 400px;
}

.header {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.title {
    position: absolute;
    margin: 0;
}

.transparent {
    color: transparent;
    margin: 0;
}

.front {
    color: #F28907;
    bottom: 1px;
}

.back {
    color: #F20707;
    top: 1px;
}